<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">

<title>ZELENA LINIJA</title>
<meta name="description" content=""/>
<meta name="robots" content=""/>

<link rel="stylesheet" href="{{ url('/plugins/bootstrap/css/bootstrap.min.css') }}"/>
<link rel="stylesheet" href="{{ url('/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}"/>
<link rel="stylesheet" href="{{ url('/css/common.css') }}"/>
<link rel="stylesheet" href="{{ url('/css/jquery.bxslider.css') }}"/>
<link rel="stylesheet" href="{{ url('/plugins/slick/slick.css') }}"/>
<link rel="stylesheet" href="{{ url('/plugins/slick/slick-theme.css') }}"/>
<link rel="stylesheet" href="{{ url('/css/about-us.css') }}"/>


<link rel="stylesheet" type="text/css" href="slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>


