{% extends '/_layout/layout.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ url('/css/contact-us.css') }}"/>
{% endblock %}

{% block content %}
  <div class="vesti">
    {% set query = craft.entries()
      .section('vesti') %}
    {% for input in query %}
      <div class="single-news">
        <img class="slika" src="{{url('/images/calendar.png')}}"><span class="datum"> {{ input.postDate | date("M d, Y") }}</span>
        <h2>{{ input.title }}</h2>
        <p> {{ input.description }}</p>
        {% if input.productImage | length %}
          <img href="{{ input.productImage.one.getUrl()}}">
        {% endif %}
        {% for link in input.fajlovi.all() %}
          <a class="row download" href="{{link.getUrl}}" download="">{{ link }} - (download)</a>
        {% endfor %}
      </div>
    {% endfor %}
    {% include '/_includes/matrixBlocks.twig' %}
  </div>
{% endblock %}
